:root {
  --animation-duration: 5000ms;
  --animation-delay-multiplier: 50ms;
}

.confetti {
  position: fixed;
  width: 100%;
  height: 100vh;
}

.confetti-piece {
  position: absolute;
  width: 8px;
  height: 16px;
  background: var(--dark-red);
  top: 0;
  opacity: 0;
}

.confetti-piece:nth-child(1) {
  left: 0;
  transform: rotate(71deg);
  animation: makeItRain var(--animation-duration) infinite ease-out;
  animation-delay: calc(var(--animation-delay-multiplier) * 2);
}

.confetti-piece:nth-child(2) {
  left: 7%;
  transform: rotate(-35deg);
  animation: makeItRain var(--animation-duration) infinite ease-out;
  animation-delay: calc(var(--animation-delay-multiplier) * 4);
}

.confetti-piece:nth-child(3) {
  left: 14%;
  transform: rotate(65deg);
  animation: makeItRain var(--animation-duration) infinite ease-out;
  animation-delay: calc(var(--animation-delay-multiplier) * 6);
}

.confetti-piece:nth-child(4) {
  left: 21%;
  transform: rotate(15deg);
  animation: makeItRain var(--animation-duration) infinite ease-out;
  animation-delay: calc(var(--animation-delay-multiplier) * 8);
}

.confetti-piece:nth-child(5) {
  left: 28%;
  transform: rotate(-30deg);
  animation: makeItRain var(--animation-duration) infinite ease-out;
  animation-delay: calc(var(--animation-delay-multiplier) * 10);
}

.confetti-piece:nth-child(6) {
  left: 35%;
  transform: rotate(68deg);
  animation: makeItRain var(--animation-duration) infinite ease-out;
  animation-delay: calc(var(--animation-delay-multiplier) * 8);
}

.confetti-piece:nth-child(7) {
  left: 42%;
  transform: rotate(60deg);
  animation: makeItRain var(--animation-duration) infinite ease-out;
  animation-delay: calc(var(--animation-delay-multiplier) * 6);
}

.confetti-piece:nth-child(8) {
  left: 49%;
  transform: rotate(68deg);
  animation: makeItRain var(--animation-duration) infinite ease-out;
  animation-delay: calc(var(--animation-delay-multiplier) * 4);
}

.confetti-piece:nth-child(9) {
  left: 56%;
  transform: rotate(-26deg);
  animation: makeItRain var(--animation-duration) infinite ease-out;
  animation-delay: calc(var(--animation-delay-multiplier) * 2);
}

.confetti-piece:nth-child(10) {
  left: 63%;
  transform: rotate(-17deg);
  animation: makeItRain var(--animation-duration) infinite ease-out;
  animation-delay: calc(var(--animation-delay-multiplier) * 4);
}

.confetti-piece:nth-child(11) {
  left: 70%;
  transform: rotate(18deg);
  animation: makeItRain var(--animation-duration) infinite ease-out;
  animation-delay: calc(var(--animation-delay-multiplier) * 6);
}

.confetti-piece:nth-child(12) {
  left: 77%;
  transform: rotate(-17deg);
  animation: makeItRain var(--animation-duration) infinite ease-out;
  animation-delay: calc(var(--animation-delay-multiplier) * 8);
}

.confetti-piece:nth-child(13) {
  left: 84%;
  transform: rotate(-62deg);
  animation: makeItRain var(--animation-duration) infinite ease-out;
  animation-delay: calc(var(--animation-delay-multiplier) * 10);
}

.confetti-piece:nth-child(odd) {
  background: var(--button-color);
}

.confetti-piece:nth-child(even) {
  z-index: 1;
}

.confetti-piece:nth-child(4n) {
  width: 5px;
  height: 12px;
  animation-duration: 2000ms;
}

.confetti-piece:nth-child(3n) {
  width: 3px;
  height: 10px;
  animation-duration: 2500ms;
  animation-delay: 1000ms;
}

.confetti-piece:nth-child(4n-7) {
  background: var(--secondary-btn);
}

@keyframes makeItRain {
  from {
    opacity: 0;
    transform: translateY(0) rotate(0deg);
  }
  50% {
    opacity: 1;
  }
  to {
    transform: translateY(800px) rotate(360deg);
  }
}
