.error-container {
  background-color: white;
  height: 95px;
  width: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.error-circle,
.error-circle-border {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.error-circle {
  z-index: 1;
  position: relative;
  background: white;
  transform: scale(1);
  animation: circle-animation 700ms ease;
}

.error-circle-border {
  z-index: 0;
  position: absolute;
  transform: scale(1.1);
  animation: border-animation 400ms ease;
  background: red;
}

@keyframes circle-animation {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes border-animation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1.1);
  }
}

.error::before,
.error::after {
  content: "";
  display: block;
  height: 4px;
  background: red;
  position: absolute;
}

.error::before {
  width: 60px;
  top: 48%;
  left: 16%;
  transform: rotateZ(50deg);
}

.error::after {
  width: 60px;
  top: 48%;
  left: 16%;
  transform: rotateZ(-50deg);
}
