/* Element styles */

/* Anchor styles */
a {
  text-decoration: none;
}

/* Footer styles */

footer {
  padding: 20px;
  text-align: center;
  background-color: var(--light-grey);
}

footer a {
  color: var(--black);
}

footer a:hover {
  text-decoration: underline;
}

.footer-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  flex-basis: 200px;
  margin: 10px auto;
}

.footer-column p,
.footer-column strong {
  margin-bottom: 5px;
}

.social-icons a {
  margin: 0 10px;
}

.payment-icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-info {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-info span {
  display: flex;
  align-items: center;
  min-height: 24px;
  margin: 0 5px;
  padding: 0 5px;
}

.sitemap {
  border-right: 1px solid black;
  border-left: 1px solid black;
}
