/* Become a partner button */

.partner-link {
  display: flex;
  justify-content: end;
}

.partner-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px 20px;
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border: 0px;
  background-color: var(--button-color);
  cursor: pointer;
}

.partner-button pre {
  display: flex;
  align-items: center;
  margin-top: 4px;
}
