/* Global Reset and Normalize */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* remove blue highlignt */
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}

/* Global Variables */

:root {
  --white: #ffffff;
  --black: #000000;
  --grey: #dee1e2;
  --background-color: #0e6ba8;
  --secondary-btn: #0e3ba8;
  --unknown: #ff66d8;
  --input-hover-color: #ccc;
  --list-hover-color: #c5c5c5;
  --button-color: #ff6500;
  --dark-red: #b60000;
  --dark-green: #044f04;
}

/* Element styles */

html {
  overflow-y: auto; /* maybe change to scroll*/
}

body,
html {
  overflow-x: hidden;
  max-width: 100%;
}

#root {
  position: relative;
}

/* Body styles */
body {
  margin-top: 64px;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  border: 1px solid var(--grey);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: var(--button-color);
}

/* Heading Styles */
h1 {
  text-align: center;
  margin-bottom: 10px;
}

/* Form Styles */
form {
  width: 70%;
  border: 1px solid;
  border-radius: 50px;
  padding: 20px;
  margin: 0 20px;
  background-color: rgba(65, 67, 68, 0.5);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

form > div {
  padding: 12px 10px;
}

/* Label Styles */
label {
  font-weight: bold;
  color: var(--white);
}

label[for="avatar"] {
  display: block;
}

/* Select styles*/
select {
  display: block;
  width: 100%;
  font-size: 16px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  border: 2px solid var(--grey);
  color: rgb(14, 14, 16);
  background: var(--white);
  height: 36px;
}

/* Input Styles */
input {
  display: block;
  width: 100%;
  font-size: 16px;
  text-align: center;
  border-radius: 6px;
  line-height: 1.5;
  padding: 5px 30px;
  border: 2px solid var(--grey);
  color: rgb(14, 14, 16);
  background: var(--white);
  height: 36px;
}

input:hover {
  border-color: var(--input-hover-color);
}

input:focus {
  background: var(--white);
}

input::placeholder {
  text-align: center;
}

/* Textarea Styles */
textarea {
  width: 100%;
  resize: none;
}

/* Utilities */

.rounded-circle {
  border-radius: 50%;
  /* Ensure the image completely covers the box */
  object-fit: cover;
  object-position: center center;
}

/* Disabled button */

button:disabled:hover,
button:disabled {
  background-color: #a0a0a0;
  color: #555;
  cursor: default;
}

button:disabled span {
  display: none;
}

.breadcrumb-navigation {
  width: 90%;
  margin: 0 auto;
}

.breadcrumb-navigation a:hover {
  text-decoration: underline;
}

.delete-icon {
  display: inline-flex;
  padding: 1px;
  cursor: pointer;
}

.inline-flex {
  display: inline-flex;
  width: 100%;
}

.inline-flex div {
  width: 50%;
}

.inline-flex div:first-child {
  margin-right: 20px;
}

.hidden {
  display: none;
}

.green-color {
  color: var(--dark-green);
}

.red-color {
  color: var(--dark-red);
}

/* Media Queries */

/* Tablet Screen - 768px */
@media only screen and (max-width: 768px) {
  form {
    width: 100%;
  }
  .inline-flex {
    display: block;
    padding: 0 10px;
  }
  .inline-flex div {
    width: 100%;
    margin: 0;
    padding: 12px 0;
  }

  .inline-flex div:first-child {
    margin: 0;
  }
}

/* Mobile scren */
@media only screen and (max-width: 425px) {
  h1 {
    font-size: 2rem;
  }
}
