/* Global Reset and Normalize */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Global Variables */

:root {
  --white: #ffffff;
  --black: #000000;
  --grey: #dee1e2;
  --light-grey: #f2f2f2;
  --input-hover-color: #ccc;
  --list-hover-color: #c5c5c5;
  --button-color: #ff6500;
  --dark-red: #b60000;
  --dark-green: #00ff00;
}

/* Element styles */

html {
  overflow-y: scroll;
}

body,
html {
  overflow-x: hidden;
  max-width: 100%;
}

/* Body styles */
body {
  margin-top: 64px;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  border: 1px solid var(--grey);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: var(--button-color);
}

/* Heading Styles */
h1 {
  text-align: center;
  margin-bottom: 10px;
}

/* Form Styles */
form {
  border: 1px solid;
  border-radius: 50px;
  padding: 20px;
  margin: 0 20px;
  background-color: rgba(65, 67, 68, 0.5);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

form > div {
  padding: 12px 10px;
}

/* Label Styles */
label {
  font-weight: bold;
  color: var(--white);
}

label[for="avatar"] {
  display: block;
}

/* Input Styles */
input {
  display: block;
  width: 100%;
  font-size: 16px;
  text-align: center;
  border-radius: 6px;
  line-height: 1.5;
  padding: 5px 30px;
  border: 2px solid var(--grey);
  color: rgb(14, 14, 16);
  background: var(--grey);
  height: 36px;
}

input:hover {
  border-color: var(--input-hover-color);
}

input:focus {
  background: var(--white);
}

input::placeholder {
  text-align: center;
}

/* Textarea Styles */
textarea {
  width: 100%;
  resize: none;
}

/* Utilities */

.rounded-circle {
  border-radius: 50%;
}

.flex-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.inline-flex {
  display: inline-flex;
  width: 100%;
}

.inline-flex div {
  width: 50%;
}

.inline-flex div:first-child {
  margin-right: 20px;
}

.hidden {
  display: none;
}

/* Media Queries */

/* Tablet Screen - 768px */
@media only screen and (max-width: 768px) {
  .inline-flex {
    display: block;
  }
  .inline-flex div {
    width: 100%;
    margin: 10px 0;
  }
}
